.btn btn-primary{
  margin: auto;
}
.heading{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.count{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



